
.text-font{
  text-align: left; 
  font-weight: lighter; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px
}

@media (max-width: 450px) {
  .text-font {
    font-size: 24px

}
  }
 
 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400; 
  font-size: 16px;
  line-height: 1.4;
  background-color: #000000;
}

@media (max-width: 600px) {
  .flexbox-media {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 0% 0% 0% 10%;
}
  }

  @media (max-width: 2600px) {
    .flexbox-media-two {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      padding: 0% 0% 0% 10%;
  }
    }
  
  .link {
    color: blue;
    font-family: lato, sans-serif;
  }

  .link:hover {
  color: blue;
  text-decoration: underline;
  }

.front-text {
  color: white;
  z-index: 2;
  font-family: lato, sans-serif;
  position: absolute;
  top: -1%;
  right: 40%
}

.btn-home {
    font-family: lato, sans-serif;
    position: absolute;
    bottom: 4%;
    right: 4%;
}

.tool_title {
  position: absolute;
  left: 3%;
  top: 6%;
  max-width: 141px;
}
h1 {
  margin: 0;
  font-size: 60px;
  font-family: lato, sans-serif;
  padding-right: 10px;
}

h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: lato, sans-serif;
    padding-right: 10px;
}

.ztext{
  font-size: 94px;
}

h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  font-family: lato, sans-serif;
  padding-right: 10px;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  font-family: lato, sans-serif;
  padding-right: 10px;
}

@media all and (min-width: 500px) and (max-width: 768px){
  h1 {
    margin: 0;
    font-size: 40px;
    font-family: lato, sans-serif;
  }
  
  h2 {
      margin: 0;
      font-size: 30px;
      font-weight: 400;
      font-family: lato, sans-serif;
  }
  .ztext{
    font-size: 72px;
  }
  h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    font-family: lato, sans-serif;
    
  }
  h4 {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: lato, sans-serif;
    
  }
}
@media all and (max-width: 500px){
  h1 {
    margin: 0;
    font-size: 28px;
    font-family: lato, sans-serif;
  }
  
  h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      font-family: lato, sans-serif;
  }
  .ztext{
    font-size: 49px;
  }
  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: lato, sans-serif
  }
  h3 {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
    font-family: lato, sans-serif
  }
}

.texts {
  font-size: 16px;
  font-weight: 400;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  /* visited link */
  color: #919191;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #ffffff;
  text-decoration: none;
}
button {
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #4b81f0;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 17px;
  border-radius: 15px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-footer {
  clear: both;
}

.profile2 {
  max-width: 700px;
  margin: 0 auto;

}
.about {
  list-style-type: none;
  padding: 0 0 0 0;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: rgb(1, 1, 1);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding:0px 20px 0px 0px;
  margin-right: 20px;
  background-color: rgb(1,1,1);
  font-family: lato, sans-serif;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

table {
  border-collapse: collapse;
  background-color: #ffffff;
}

table, th, td {
  border: 1px solid black;
}
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  position: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}


@media all and (min-width: 500px) and (max-width: 750px){
    .texts {
    font-size: 14px;
  }
   .navigation-list {
  list-style-type: none;
  font-size: 14px;
}
}
@media all and (max-width: 500px) {
  

  .texts {
    font-size: 12px;
  }
  .navigation-list {
  list-style-type: none;
  font-size: 12px;
}
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 350px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #d3d3d3;
  overflow: hidden;
  width: 100%;
  height:0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: White;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Parallax effect below*/


@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Montserrat;
  background-color: white;
}

.slide {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.img {
  position: absolute;
  top: 43%;
  left: 44%;
  width: 43%;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  color: rgb(88, 88, 88);
  text-shadow: 0 2px 2px #000;
}

#title {
  background: rgb(1, 1, 1);
  z-index:2;
}

#title h1 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;

}

#slide1:before {
  background: rgb(0, 0, 0);
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("../img/vue2.png");
  z-index:2;
}


#slide4 {
  background-image: url("../img/mockang.png");
    z-index:2;
  }

#slide6 {
  background-image: url("../img/flickz.png");
  z-index:2;
}


#slide8 {
  background-image: url("../img/meetup.png");
    z-index:2;
  }


#slide10 {
  background-image: url("../img/reactnative.png");
    z-index:2;
  }

.typewriter h1 {
  color: #fff;
  font-family: lato, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/*Contact page*/

.contact-imgs {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

@media (max-width: 500px) {
  .contact-imgs {
    margin-left: 3vw;
}
  }

.contact-icons{ 
  width: 45px; 
  margin: 10px;
}

@media (max-width: 500px) {
  .contact-icons {
    width: 35px; 
}
  }

.form-group {
  width: 35%
}

@media (max-width: 500px) {
  .form-group {
    width: 80%
}
  }

.form-button {
  background-color: rgb(10, 97, 254);
  margin: 30px auto;
}

@media (max-width: 500px) {
  .form-button {
    margin: 20px auto;
}
  }
  

.form-button:hover {
  background-color: rgb(19, 74, 170)
}

/*About page*/

.text-likes {
  width: 50%;
}

@media (max-width: 770px) {
  .text-likes {
    width: 80%

}
  }

.wrapper-about {
  width: 80%;
}

.interests-box {
  text-align: -webkit-center;
}

.interests-box-two {
  text-align: -webkit-center;
  flex-direction: row;
}

@media (max-width: 770px) {
.interests-box-two {
  text-align: -webkit-center;
  flex-direction: row;
  flex-direction: column-reverse;
}
}

/*Projects page*/

.tool-logos {
  width:50%; 
  margin: auto;
}

@media (max-width: 720px) {
  .tool-logos {
    width: 80%;
  }
  } 

  .project-images {
    width: 80%;
    margin: auto;
    box-shadow: 12px 12px 29px #555;
  }

  .projects-link {
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .projects-link:hover {
    color: black;
    font-weight: bold
  }

  /*Home page*/

  .see-work{
    position: absolute;
    bottom: 4%;
    right: 4%;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: inset 7px -1px 11px #555;
  }

  @media (max-width: 1440px) {
    .see-work {
      bottom: 40%;
    }
    } 

    @media (max-width: 1024px) {
      .see-work {
        bottom: 4%;
      }
      } 

    @media (max-width: 500px) {
      .see-work {
        display: none
      }
      } 

      .face-colours {
            width: 500px;
      }

      @media (max-width: 500px) {
        .face-colours {
          width: 350px;
        }
        } 
        @media (max-width: 1024px) {
          .text-home {
            margin-top: 30px
          }
          } 











  




