/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --main-bg-color: #ffffff;
  --a-color:#0000ff;
  --visited-color:#05676e;
  --active-color: #489c79;
  --button-bg-color: #d4af37;
  --overlay-bg-color: #d3d3d3;
  --button-tx-color: #006400;
  --page-hr-color: #d3d3d3;
  --bg-tb-color: #ffffff;
  --grid-bg-color: #d3d3d3 ;
  --hvy-font-weight: 700;
  --lght-font-weight: 400;
  --stand-font-size: 16px;

}
 
 * {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: var(--lght-font-weight); 
  font-size: var(--stand-font-size);
  line-height: 1.4;
  background-color: var(--main-bg-color);

}

h1 {
  font-size: 32px;
  font-weight: var(--hvy-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--hvy-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--lght-font-weight);
}
h4 {
  font-size: 22px;
  font-weight: var(--lght-font-weight);
}
.texts {
  font-size: var(--stand-font-size);
  font-weight: var(--lght-font-weight);
}
a {
  color: var(--a-color);
}
a:visited {
  /* visited link */
  color: var(--visited-color);
}
a:hover, focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: var(--active-color);
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.navigation-list__item--active {
  text-decoration: none;
}
.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}
.page-footer {
  clear: both;
}
.profile {
  max-width: 700px;
  margin: 0 auto;

}
.profile2 {
  max-width: 700px;
  margin: 0 auto;

}
.about {
  list-style-type: none;
  padding: 0 0 0 0;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  height: 80px;
  padding:10px;
  margin-right: 20px;
  border-bottom: 1px solid black;
  background-color: var(--page-hr-color);
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}
/* Styling CSS grid*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.grid__item {
  background-color: var(--grid-bg-color);
  padding: 10px;
  /* Set width to auto*/
  width: auto;
}
.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
table {
  border-collapse: collapse;
  background-color: var(--bg-tb-color);
}

table, th, td {
  border: 1px solid black;
}
.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--button-bg-color);
  color: var(--button-tx-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  position: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h4 {
    font-size: var(--stand-font-size);
  }
  .texts {
    font-size: 14px;
  }
   .navigation-list {
  list-style-type: none;
  font-size: 14px;
}
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
  h4 {
    font-size: 14px;
  }
  .texts {
    font-size: 12px;
  }
  .navigation-list {
  list-style-type: none;
  font-size: 12px;
}
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 350px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--overlay-bg-color);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 24px;
  font-weight: var(--hvy-font-weight);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}